<div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-8">
        <h3>
          Welcome to my website!
        </h3>
      </div>
      <div class="col-xs-4">
        <img class="profilePicture" src="../../../assets/Alessio_Prestileo.jpg"
             style="float: right">
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-xs-12">
        <div style="text-align: justify">
          <p>
            My name is Alessio Prestileo.
          </p>
          <p>
            I am a junior full-stack web developer based in Oslo, Norway, with a preference for front-end development.
          </p>
          <p>
            In this website you can find information about my life, my competences and
            some of the projects I've been working on.
            In the "Projects" section you can see a couple of examples of Angular projects, 
            and by the way this website is entirely built with Angular.
            You can check out the source code by following
            <a href="https://github.com/alessioprestileo/alepWebsite">
              this link</a>.
          </p>
          <p>
            If you are curious to see other things I've been working on, you can go to
            <a href="https://github.com/alessioprestileo">
              my GitHub page</a>.
          </p>
          <p>
            I am currently working as a front-end consultant at <a href="https://www.acando.no">Acando</a>, and before that 
            I have worked as a web developer for <a href="https://07interaktiv.no">07interaktiv</a>.
          </p>
          <p>
            Before my career in web development, I accumulated 4.5 years of experience as a 
            structural engineer, which has been
            my profession in Det Norske Veritas/DNVGL roughly from 2011 to 2016.<br />
            During my years as an engineer I realized that programming (python
            scripting at the time) was definitely the activity that interested me the
            most.<br />
            At the end of 2015 I decided to do something about it, so I left my job
            to start a new career as a software
            developer. After spending some months studying in depth the basic concepts
            of software design and experimenting with C++ and 3D graphics (OpenGL), I
            turned my attention to web development, and finally in 2017 I got my first job as a developer in 07interaktiv.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
