<div *ngIf="!validInputChart">
  <h2>
    Input not valid
  </h2>
</div>
<div *ngIf="validInputChart">
  <h2>
    {{title}}
  </h2>
  <br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <base-chart class="chart"
                    [datasets]="chartData"
                    [labels]="chartLabels"
                    [options]="chartOptions"
                    [legend]="chartLegend"
                    [chartType]="chartType">
        </base-chart>
      </div>
    </div>
  </div>
</div>

