<div *ngIf="formGroup">
  <form [formGroup]="formGroup">
    <label style="font-size: 20px;
                  font-weight: bold;
                  height: 30px;
                  margin-bottom: 0px;
                  vertical-align: middle;
                  width: 20%">
      {{titleLabel}}&nbsp;{{currentPosition}}
    </label>
    <br>
    <br>
    <div style="padding-left: 3%">
      <app-input-box [label]="'Name:'"
                     [inFormControl]="formGroup.controls['name']">
      </app-input-box>
      <br>
      <app-dataset-form [currentDataSet]="currentCollection.dataSet"
                        [formGroup]="formGroup">
      </app-dataset-form>
    </div>
  </form>
</div>
