.container-fluid {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
.intro {
  text-align: justify;
  padding-bottom: 8rem;
}
.container-fluid > .row {
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 30px;
}

@media (max-width: 767px) {
  .container-fluid {
    padding: 0.5rem;
  }
  .intro {
    padding-bottom: 0.5rem;
  }
}
