.app-bordered {
  border: 2px solid #d1b394;
  border-radius: 2rem;
  margin: 1rem;
  padding: 0.5rem;
}
.container-fluid.app-extra-fields {
  padding: 1rem 2rem;
}
.container-fluid.app-general {
  padding: 1rem 2rem;
}
.container-fluid.app-hierarchy {
  padding: 1rem 2rem;
}
.container-fluid.app-new-extra-field {
  padding: 1rem 0;
  margin-left: -1.5rem;
}
.container-fluid.app-paths {
  padding-left: 2.1rem;
}
.container-fluid.app-fields {
  padding-left: 2.1rem;
}
button.btn.btn-default.app-btn {
  border-radius: 2rem;
  outline: 0;
}
.container-fluid {
  padding: 0;
}
.row.app-row {
  margin-top: 1rem;
}
@media (max-width: 767px) {
  .app-btn {
    border-radius: 2rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
    outline: 0;
  }
  .app-remove-btn {
    margin-top: 1rem;
  }
  .container-fluid.app-extra-fields {
    padding: 1rem 1rem;
  }
  .container-fluid.app-fields {
    padding-left: 1.9rem;
  }
  .container-fluid.app-hierarchy {
    padding: 1rem 1rem;
  }
  .container-fluid.app-paths {
    padding-left: 1.9rem;
  }
  .row.app-row {
    margin-top: 0.5rem;
  }
}
