<form>
  <div class="container-fluid app-general">
    <div class="row">
      <div class="col-xs-12">
        <app-input-box [label]="'Name:'"
                       [labelCssClass]="'app-input-box-label-white'"
                       [inFormControl]="prodFormGroup.controls['name']">
        </app-input-box>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-12">
        <app-input-box [label]="'Price:'"
                       [labelCssClass]="'app-input-box-label-white'"
                       [inFormControl]="prodFormGroup.controls['price']">
        </app-input-box>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-12">
        <app-input-box [label]="'Quantity:'"
                       [labelCssClass]="'app-input-box-label-white'"
                       [inFormControl]="prodFormGroup.controls['quantity']">
        </app-input-box>
      </div>
    </div>
    <!--<br>-->
    <!--<div class="row">-->
      <!--<div class="col-xs-12">-->
        <!--<app-input-box [label]="'Image source:'"-->
                       <!--[labelCssClass]="'app-input-box-label-white'"-->
                       <!--[inFormControl]="prodFormGroup.controls['imgSrc']">-->
        <!--</app-input-box>-->
      <!--</div>-->
    <!--</div>-->
  </div>
  <div class="app-bordered">
    <div class="container-fluid app-hierarchy">
      <div class="row">
        <div class="col-xs-7"
             (click)="collapseHierarchy = !collapseHierarchy"
             style="cursor: pointer">
          <span [ngClass]="collapseHierarchy ?
                            'glyphicon glyphicon-chevron-right' :
                            'glyphicon glyphicon-chevron-down'"
                style="color: white;
                       vertical-align: middle">
          </span>
          <label class="app-input-box-label-white"
                 style="cursor: pointer;
                        text-decoration: underline">
            Departments:
          </label>
        </div>
        <div class="col-xs-5"
             style="text-align: right">
          <button type="button" class="btn btn-default app-btn"
                  (click)="onHierarchyPathAdd()">
            New path
          </button>
        </div>
      </div>
      <div class="container-fluid app-paths">
        <div class="row app-row"
             [hidden]="collapseHierarchy"
             *ngFor="let control of hierarchyInfo.controls;
                     let index = index">
          <div class="col-sm-9">
            <app-input-box
              [label]="hierarchyInfo.pathsLabel + ' ' +
                       (index + 1).toString() + ':'"
              [labelCssClass]="'app-input-box-label-white'"
              [inFormControl]="control"
              [placeHolder]=
                "'Insert ' + hierarchyInfo.pathsLabel.toLocaleLowerCase() +
                 ' ' + (index + 1).toString()">
            </app-input-box>
          </div>
          <div class="col-sm-3">
            <div style="text-align: right">
              <button
                *ngIf="hierarchyPathsCount > 1"
                type="button" class="btn btn-default app-btn app-remove-btn"
                (click)="onHierarchyPathRemove(index)">
                Remove path
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="app-bordered">
    <div class="container-fluid app-extra-fields">
      <div class="row">
        <div class="col-xs-7"
             (click)="collapseExtraFields = !collapseExtraFields"
             style="cursor: pointer">
            <span [ngClass]="collapseExtraFields ?
                              'glyphicon glyphicon-chevron-right' :
                              'glyphicon glyphicon-chevron-down'"
                  style="color: white;
                         vertical-align: middle">
            </span>
          <label class="app-input-box-label-white"
                 style="cursor: pointer;
                        text-decoration: underline">
            Extra fields:
          </label>
        </div>
        <div class="col-xs-5"
             style="padding-left: 0;
                    text-align: right">
          <button type="button" class="btn btn-default app-btn"
                  (click)="addingExtraField = true">
            New extra field
          </button>
        </div>
      </div>
      <div class="container-fluid app-fields"
           [hidden]="collapseExtraFields">
        <div class="row app-row"
             *ngFor="let fieldName of extraFieldsInfo.fieldsNames;
                       let index = index">
          <div class="col-sm-9">
            <app-input-box
              [label]="fieldName + ':'"
              [labelCssClass]="'app-input-box-label-white'"
              [inFormControl]="extraFieldsInfo.controls[index]">
            </app-input-box>
          </div>
          <div class="col-sm-3">
            <div style="text-align: right">
              <button
                type="button" class="btn btn-default app-btn app-remove-btn"
                (click)="onExtraFieldRemove(index)">
                Remove extra field
              </button>
            </div>
          </div>
        </div>
        <div class="container-fluid app-new-extra-field"
             *ngIf="addingExtraField">
          <label class="app-input-box-label-white"
                 style="text-align: center;
                        width: 100%;">
            Enter name for the new extra field:
          </label>
          <div class="row" style="margin-bottom: 2rem">
            <div class="col-sm-offset-4 col-sm-4 app-input-box"
                 style="text-align: center">
              <input #newExtraFieldName>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-offset-4 col-sm-4">
              <div class="row">
                <div class="col-xs-6">
                  <button
                    type="button" class="btn btn-default app-btn"
                    (click)="onExtraFieldAdd()"
                    style="width: 100%">
                    Ok
                  </button>
                </div>
                <div class="col-xs-6">
                  <button
                    type="button" class="btn btn-default app-btn"
                    (click)="addingExtraField = false"
                    style="width: 100%">
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
