<h2>
  Line Chart
</h2>
<app-sample-line-chart></app-sample-line-chart>
<h2>
  Bar Chart
</h2>
<app-sample-bar-chart></app-sample-bar-chart>
<h2>
  Doughnut Chart
</h2>
<app-sample-doughnut-chart></app-sample-doughnut-chart>
<h2>
  Radar Chart
</h2>
<app-sample-radar-chart></app-sample-radar-chart>
<h2>
  Pie Chart
</h2>
<app-sample-pie-chart></app-sample-pie-chart>
<h2>
  Polar Area Chart
</h2>
<app-sample-polar-area-chart></app-sample-polar-area-chart>
<h2>
  Dynamic Chart
</h2>
<app-sample-dynamic-chart></app-sample-dynamic-chart>
