<div class="container-fluid">
  <form>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <app-input-box [label]="'Name:'"
                         [inFormControl]="chartFormGroup.controls['name']">
          </app-input-box>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <label class="app-input-box-label">
            Type:
          </label>
        </div>
        <div class="col-sm-8">
          <div class="btn-group"
               style="width: 100%">
            <button type="button"
                    class="btn btn-default app-btn dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"
                    style="width: 100%">
              {{chartFormGroup.controls['type'].value ?
              chartTypeMap[chartFormGroup.controls['type'].value] :
                  'select'}}&nbsp;
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu"
                style="text-align: center;
                     width: 100%">
              <li *ngFor="let value of chartTypeValues; let index = index"
                  (click)="onChartTypeSelected(index)">
                <a>
                  {{chartTypeMap[value]}}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <app-input-box [label]="'Title:'"
                         [inFormControl]="chartFormGroup.controls['title']">
          </app-input-box>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6"
             (click)="collapseCollectionForms = !collapseCollectionForms">
          <span [ngClass]="collapseCollectionForms ?
                            'glyphicon glyphicon-chevron-right' :
                            'glyphicon glyphicon-chevron-down'"
                style="cursor: pointer;
                       vertical-align: middle">
          </span>
          <label class="app-input-box-label"
                 style="cursor: pointer;
                        text-decoration: underline">
            Collections:
          </label>
        </div>
        <div class="col-xs-6"
             [hidden]="collapseCollectionForms"
             style="text-align: right">
          <button type="button" class="btn btn-default app-btn"
                  (click)="onCollectionAdd()">
            New {{collectionsLabel}}
          </button>
        </div>
      </div>
          <div class="app-bordered"
               [hidden]="collapseCollectionForms"
               *ngFor="let collectionInput of collectionInputs">
            <app-collection-form
              [currentCollection]="collectionInput.collectionObject"
              [currentPosition]="collectionInput.position"
              [formGroup]="collectionInput.formGroup">
            </app-collection-form>
            <div style="text-align: right">
              <button
                *ngIf="collectionInputs.length > 1"
                type="button" class="btn btn-default app-btn"
                (click)="onCollectionRemove(
                  collectionInput.position,
                  collectionInput.label)">
                Remove {{collectionsLabel}}
              </button>
            </div>
          </div>
    </div>
  </form>
  <div class="row">
    <div class="col-sm-6">
      <button *ngIf="!previewMode"
              type="button" class="btn btn-default app-btn"
              (click)="onPreviewToggleOn()"
              [disabled]="!(obChartFormValid | async)">
        Preview chart
      </button>
      <button *ngIf="previewMode"
              type="button" class="btn btn-default app-btn"
              (click)="onUpdatePreview()"
              [disabled]="!(obChartFormValid | async)">
        Update chart preview
      </button>
    </div>
    <div class="col-sm-6"
         style="text-align: right">
      <button *ngIf="previewMode"
              type="button" class="btn btn-default app-btn"
              (click)="onPreviewToggleOff()">
        Turn off chart preview
      </button>
    </div>
  </div>
  <div *ngIf="previewMode">
    <app-show-chart [chart]="currentChart"
                    [obUpdateFlag]="obUpdateChartPreview">
    </app-show-chart>
  </div>
</div>
