.app-prop-list {
  margin-bottom: 0.3rem;
  margin-top: 0.3rem;
  max-height: 11.5rem;
  min-height: 2.7rem;
  overflow-y: auto;
}
button.btn.btn-default.app-btn {
  border-radius: 1rem;
  outline: 0;
}
.collSrc {
  border: 2px solid lightgray;
  background-color: white;
  height: 2.7rem;
  text-align: center;
  vertical-align: middle;
}
.collSrc:hover {
  background-color: #eeeeee;
}
.collSrc-selected {
  background-color: lightblue;
}
.collSrc-selected:hover {
  background-color: lightblue;
}
@media (max-width: 767px) {
  .app-prop-list {
    padding: 0 0.5rem;
  }
  button.btn.btn-default.app-btn {
    margin: 0.5rem 0;
    padding: 0.5rem;
    width: 100%;
  }
  .container-fluid {
    padding: 0.5rem;
  }
  .row {
    margin: 0.5rem 0;
  }
}
