<div class="animated fadeIn container-fluid">
	<h2>{{title}}</h2>
  <div class="row"
       style="margin-bottom: 15px">
    <div class="col-sm-offset-4 col-sm-4">
      <button type="button" class="btn btn-default"
              style="text-align: center;
                     border-radius: 16px;
                     outline: 0; width: 100%"
              (click)="addProduct()">
        Add New Product
      </button>
    </div>
  </div>
	<div>
	  <app-data-table
      *ngIf="tableInput"
      [tableInput]="tableInput"
      (editEmitter)="editProduct($event)"
      (removeEmitter)="removeProduct($event)">
	  </app-data-table>
	</div>
</div>
