.weatherProp {
  border: 2px solid lightgray;
  background-color: white;
  height: 30px;
  padding-top: 5px;
  text-align: center;
}
.weatherProp:hover {
  background-color: #eeeeee;
}
.weatherProp-selected {
  background-color: lightblue;
}
.weatherProp-selected:hover {
  background-color: lightblue;
}
