.alep-ng2-chart-legend {
  background-color: white;
  margin-bottom: 10px;
  margin-top: -7px;
  padding-bottom: 10px;
}
.alep-ng2-chart-title {
  background-color: white;
  font-size: 27px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
.alep-ng2-chart-container {
  height: 100%;
  width: 100%;
}
.alep-ng2-chart-subTitle {
  background-color: white;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
/* Medium screen */
@media (min-width: 376px) and (max-width: 767px) {
  .alep-ng2-chart-title {
    font-size: 18px;
  }
  .alep-ng2-chart-subTitle {
    font-size: 14px;
  }
}
/* Small screen */
@media (max-width: 375px) {
  .alep-ng2-chart-title {
    font-size: 15px;
  }
  .alep-ng2-chart-subTitle {
    font-size: 11px;
  }
}
