.alep-ng2-chart-caption {
  background-color: white;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}
.alep-ng2-chart-container {
  height: 100%;
  width: 100%;
}
.alep-ng2-chart-subCaption {
  background-color: white;
  font-size: 2rem;
  text-align: center;
}
/* Medium screen */
@media (min-width: 376px) and (max-width: 767px) {
  .alep-ng2-chart-caption {
    font-size: 1.2rem;
  }
  .alep-ng2-chart-subCaption {
    font-size: 0.8rem;
  }
}
/* Small screen */
@media (max-width: 375px) {
  .alep-ng2-chart-caption {
    font-size: 1.3rem;
  }
  .alep-ng2-chart-subCaption {
    font-size: 0.9rem;
  }
}
