:host /deep/ h1 {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 2%;
}
:host /deep/ h2 {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin-top: 0;
  padding-top: 0;
}
