<div *ngIf="prodIsReady">
  <form>
    <div class="container-fluid app-frame">
      <div class="row">
        <div class="col-xs-12">
          <h2>
            {{title}}
          </h2>
        </div>
      </div>
      <br>
      <div class="app-bordered">
        <app-product-form
          [prodFormGroup]="formGroup"
          [product]="product"
          [newProd]="newProd">
        </app-product-form>
        <br>
        <div class="container-fluid">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-offset-6 col-sm-3">
                <button type="button" class="btn btn-default app-btn"
                        [disabled]="!(obFormGroupValid | async)"
                        (click)="onSave()">
                  Save
                </button>
              </div>
              <div class="col-sm-3">
                <button type="button" class="btn btn-default app-btn"
                        (click)="onGoBack()">
                  Go back
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
