<div class="container-fluid">
  <div class="row" style="margin-bottom: 1rem">
    <div class="col-sm-4">
      <label [ngClass]="labelCssClass ? labelCssClass : labelDefaultCssClass">
        {{label || targetProperty}}:
      </label>
    </div>
    <div class="col-sm-8">
      <div #formGroup
           [ngClass]="{'has-error': hasError(boxControl),
                       'has-success': hasSuccess(),
                       'has-feedback': hasError(boxControl) ||
                                       hasSuccess()}">
        <div #searchBox class="app-searchBox" style="width: 100%;">
          <input #box #boxControl="ngForm" [formControl]="boxFormControl"
                 type="text" placeholder="Search"
                 class="form-control typeahead app-input-box">
          <span [ngClass]="{
                'glyphicon form-control-feedback':
                    hasError(boxControl) || hasSuccess(boxControl),
                'glyphicon-remove': hasError(boxControl),
                'glyphicon-ok': hasSuccess(boxControl)}">
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
