<div class="container-fluid">
  <h2>
    Bar Chart
  </h2>
  <div style="padding-left: 15%;
            width: 70%">
    <alep-ng2-chart
      [inputChartObject]="barChartObject">
    </alep-ng2-chart>
  </div>
  <h2>
    Donut Chart
  </h2>
  <div style="padding-left: 15%;
            width: 70%">
    <alep-ng2-chart
      [inputChartObject]="donutChartObject">
    </alep-ng2-chart>
  </div>
  <div style="padding-left: 15%;
            width: 70%">
    <h2>
      Line Chart
    </h2>
    <alep-ng2-chart
      [inputChartObject]="lineChartObject">
    </alep-ng2-chart>
  </div>
  <div style="padding-left: 15%;
            width: 70%">
    <h2>
      Pie Chart
    </h2>
    <alep-ng2-chart
      [inputChartObject]="pieChartObject">
    </alep-ng2-chart>
  </div>
  <div style="padding-left: 15%;
            width: 70%">
    <h2>
      Polar Area Chart
    </h2>
    <alep-ng2-chart
      [inputChartObject]="polarAreaChartObject">
    </alep-ng2-chart>
  </div>
</div>
