.app-fluidButton {
  background-color: #607D8B;
  border: 2px groove;
  border-radius: 1.5rem;
  color: #eee;
  outline: 0;
  width: 100%;
}
.app-fluidButton-content {
  height: 100%;
  margin: -3px -8px;
  width: 100%;
}
.app-fluidButton.departments {
  background-color: #607D8B;
  border-radius: 1.5rem;
  color: #eee;
  margin-top: 1rem;
  padding: 3rem 1.5rem;
  text-align: center;
  width: 100%;
}
.app-fluidButton.departments:hover {
  background-color: #CFD8DC;
  cursor: default;
  color: black;
}
.app-fluidButton.departments.isSelected{
  background-color: #ffb3b3;
  color: black;
}
.app-fluidButton:hover {
  background-color: #CFD8DC;
  cursor: default;
  color: black;
}
.app-fluidButton.isSelected {
  background-color: #ffb3b3;
  color: black;
}
.app-fluidButton.sections {
  background-color: #eee;
  border-radius: 1.5rem;
  color: #039be5;
  display: inline-block;
  font-weight: bold;
  padding: 0.5rem;
  text-align: center;
  width: 100%;
}
.app-fluidButton.sections:hover {
  background-color: #CFD8DC;
  cursor: default;
  color: #ffffff;
}
.app-fluidButton.sections.isSelected {
  background-color: #ffb3b3;
  color: #039be5;
}
@media (max-width: 767px) {
  .app-fluidButton {
    margin: 0.25rem 0;
    padding: 0.2rem 0;
  }
  .app-fluidButton.sections {
    margin: 0.25rem 0;
    padding: 0.2rem 0;
  }
  .app-fluidButton.departments {
    margin: 0.25rem 0;
    padding: 0.4rem 0;
  }
}
