<div class="container-fluid"
     style="background: #d6e0f5;
            margin-left: 5%;
            margin-right: 5%;">
  <div style="width: 80%;
              margin-left: 10%;
              padding: 10% 10%">
    <div #carousel>
      <div>
        <h2 style="background: white;
                   margin-bottom: 0;
                   text-align: center">
          Charts
        </h2>
        <img src="app/shared/images/charts.jpg" alt="Chania"
             style="width: 100%">
      </div>
      <div>
        <h2 style="background: white;
                   margin-bottom: 0;
                   text-align: center">
          Warehouse
        </h2>
        <img src="app/shared/images/charts.jpg" alt="Chania"
             style="width: 100%">
      </div>
    </div>
  </div>
</div>
