<div class="container-fluid">
  <div class="row">
    <div class="col-xs-7"
         (click)="collapseTable = !collapseTable">
      <span [ngClass]="collapseTable ?
                  'glyphicon glyphicon-chevron-right' :
                  'glyphicon glyphicon-chevron-down'"
            style="cursor: pointer;
                   vertical-align: middle">
      </span>
      <label class="app-input-box-label"
             style="font-weight: bold;
                    cursor: pointer;
                    text-decoration: underline">
        Your collections
      </label>
    </div>
    <div class="col-xs-5"
         style="text-align: right">
      <button type="button" class="btn btn-default app-nav-toggle"
              style="outline: 0;
                     vertical-align: middle"
              (click)="onNewCollection()">
        New collection
      </button>
    </div>
  </div>
  <br>
  <app-data-table *ngIf="tableInput"
                  [hidden]="collapseTable"
                  [tableInput]="tableInput"
                  (editEmitter)="onTableEdit($event)"
                  (removeEmitter)="onTableRemove($event)">
  </app-data-table>
</div>
