.app-background {
  background-color: #b8cbe0;
}
.app-backgroundDark {
  background-color: #191919;
}
.app-backgroundLight {
  background-color: #ebf0fa;
}
.app-input-box {
  border-radius: 1rem;
  height: 3.5rem;
  padding-left: 1rem;
  width: 100%
}
.app-input-box-inactive {
  border: 2px solid lightgray;
  border-radius: 1rem;
  background-color: #f2f2f2;
  font-size: 2rem;
  font-weight: normal;
  min-height: 3.5rem;
  margin-bottom: 0px;
  padding-left: 1rem;
  vertical-align: middle;
  width: 100%;
}
.app-input-box-label {
  font-size: 2rem;
  font-weight: normal;
  min-height: 3.5rem;
  margin-bottom: 0px;
  vertical-align: middle;
}
.app-input-box-label-white {
  color: white;
  font-size: 2rem;
  font-weight: normal;
  min-height: 3.5rem;
  margin-bottom: 0px;
  vertical-align: middle;
}
body {
  margin: 2em;
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
.chart {
  display: block;
  width: 100%;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}
/* customization of styles from typeahead */
.app-searchBox .tt-menu {
  max-height: 500%;
  overflow-y: auto;
}
.tt-menu {
  text-align: left;
}
.typeahead,
.tt-query,
.tt-hint {
  width: 100%;
  min-height: 3.5rem;
  padding: 0.7rem 1rem;
  font-size: 2rem;
  min-height: 3.5rem;
  border: 2px solid #ccc;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  outline: none;
}
.typeahead {
  background-color: #fff;
}
.typeahead:focus {
  border: 2px solid #0097cf;
}
.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.tt-highlight {
  font-size: 2rem;
}
.tt-menu {
  width: 100%;
  margin-top: 1rem;
  padding: 1rem 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0,0,0,.2);
  -moz-box-shadow: 0 0.5rem 1rem rgba(0,0,0,.2);
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.2);
}
.tt-suggestion {
  padding: 0.5rem 1rem;
  font-size: 2rem;
  line-height: 3.5rem;
}
.tt-menu .tt-suggestion:hover {
  cursor: default;
  text-decoration: none;
  outline: 0;
  background-color: #0097cf;
}
.tt-menu .tt-suggestion.tt-cursor {
  background-color: #BCC6CC;
}
.tt-menu .tt-suggestion.tt-cursor:hover {
  background-color: #0097cf;
}
.tt-suggestion p {
  margin: 0;
}
.twitter-typeahead {
  width: 100%;
}
/* Media queries for smartphones*/
@media (max-width: 767px) {
  * {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
  }
  .app-input-box {
    height: 3.5rem;
  }
  .app-input-box-inactive {
    font-size: 1.7rem;
    min-height: 2rem;
  }
  .app-input-box-label {
    font-size: 1.7rem;
    min-height: 2rem;
  }
  .app-input-box-label-white {
    font-size: 1.7rem;
    min-height: 2rem;
  }
  /* "next" button on carousel component */
  button.slick-next.slick-arrow {
    margin-right: 3rem;
    opacity: 1;
  }
  /* "prev" button on carousel component */
  button.slick-prev.slick-arrow {
    margin-left: 3rem;
    opacity: 1;
  }
}
