.background {
  background-color: #b8cbe0;
}
.backgroundDark {
  background-color: #191919;
}
.backgroundLight {
  background-color: #ebf0fa;
}
.app-input-box-label {
  font-size: 20px;
  font-weight: normal;
  min-height: 30px;
  margin-bottom: 0px;
  vertical-align: middle;
}
.app-input-box-label-white {
  color: white;
  font-size: 20px;
  font-weight: normal;
  min-height: 30px;
  margin-bottom: 0px;
  vertical-align: middle;
}
body {
  margin: 2em;
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
button {
  background-color: #eee;
  border: 2px solid #ccc;
  border-radius: 16px;
  cursor: default;
  font-family: Arial;
  padding: 5px 10px;
}
button:focus {
  outline: 0;
}
button:hover {
  background-color: #cfd8dc;
  cursor: default;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}
.chart {
  display: block;
  width: 100%;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
/* custom styles for the typeahead */
.app-searchBox .tt-menu {
  max-height: 500%;
  overflow-y: auto;
}
.tt-menu {
  text-align: left;
}
.typeahead,
.tt-query,
.tt-hint {
  width: 100%;
  height: 30px;
  padding: 8px 12px;
  font-size: 15px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  outline: none;
}
.typeahead {
  background-color: #fff;
}
.typeahead:focus {
  border: 2px solid #0097cf;
}
.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.tt-highlight {
  font-size: 14px;
}
.tt-menu {
  width: 100%;
  margin-top: 6px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.tt-suggestion {
  padding: 3px 20px;
  font-size: 15px;
  line-height: 24px;
}
.tt-menu .tt-suggestion:hover {
  cursor: default;
  text-decoration: none;
  outline: 0;
  background-color: #0097cf;
}
.tt-menu .tt-suggestion.tt-cursor {
  background-color: #BCC6CC;
}
.tt-menu .tt-suggestion.tt-cursor:hover {
  background-color: #0097cf;
}
.tt-suggestion p {
  margin: 0;
}
.twitter-typeahead {
  width: 100%;
}
