<div style="text-align: justify">
  <br>
  <p>
    Well, that's a pretty difficult question to answer...<br />
    If you are looking for a
    slim, concise resume of my competences and studies, then you should
    definitely go to the section "My CV".
  </p>
  <br>
  <p>
    If you are curious to know a little more about me, here's a little info
    about my life:<br />
    I was born in Genoa, Italy, on the 20th of July 1986. I grew up and studied
    in Genoa, realizing as time went by that the most satisfying activity for me
    was to learn new things, the more the better. During my school years, I
    acquired a very good knowledge of the latin grammar, which helped me
    significantly in learning foreign languages.<br />
    By the time a was in university, my hunger for new experiences had resulted
    in a wide spectrum of interests, from sports to music, going through
    literature and languages.
  </p>
  <p>
    During my last year in university I spent 6 months studying in the
    University of Lisbon, Portugal and that turned out to be a real game
    changer: I couldn't get enough of the new language, all the new places
    (the ocean!), the new people around me. That was also the beginning of my
    passion for surfing.<br />
    I discovered my love for the writer José Saramago, and learned Portuguese
    from his books. I also fell in Love with the city of Lisbon, which is still
    my absolute favorite.
  </p>
  <p>
    After coming back to Genoa, I finished my Master's Degree in Naval
    Architecture and graduated with top grades, cum laude. My master's thesis
    was awarded as the best thesis in Naval Architecture in the University of
    Genoa in 2011. Based on my thesis, I wrote an article that was published on
    the technical magazine "Marine Structures". My co-authors were my supervisor
    Prof. Enrico Rizzuto from Genoa, Prof. Ângelo Palos Teixeira and Prof.
    Carlos Guedes Soares from Lisbon.
  </p>
  <p>
    When I started looking for my first job, the only certain thing was that it
    had to be abroad: I had enjoyed so much my experience in Portugal and I
    couldn't think about anything more exciting than trying again in a new
    country.<br /> The new country happened to be Norway.
  </p>
  <p>
    Throughout university, I had always heard good things about the norwegian
    Classification Society, Det Norske Veritas, so I decided to apply for a job
    at their headquarters in Oslo, Norway. I got the job and in September 2011 I
    moved to Oslo, where I still live today.<br />
    These five years in Norway gave me many precious lessons. At work, I learned
    how to be a good FE analyst, how to work effectively and with integrity, and
    how to base the interaction with my colleagues on co-operation and not on
    competition. My colleagues taught me everything I needed to know to do a
    good job, and they also helped me a lot in learning Norwegian.<br />
    Out of the office, I learned what it means to live in a society based on
    tolerance, justice, respect, and humility.
  </p>
  <p>
    My time in Det Norske Veritas/DNVGL finished in the end of 2015. During that
    year, the oil price had quite suddenly fallen to roughly 1/3 of his usual
    value, resulting in a very low activity in my office, where practically all
    of the projects were connected to the oil industry. I started to feel that I
    wasn't learning enough and that feeling, together with the constant growth
    of my interest for computer programming, convinced me to quit and start a
    new career.
  </p>
  <p>
    So, after several months of studying and experimenting, here I am!
    in the past few months my main focus has been on Angular 2, and I recently
    started a co-operation with the company
    <a href="http://www.quantifio.no/">
      Quantifio</a>.
  </p>
  <p>
    In the section "Projects" you can check out the latest projects I've been
    working on.
  </p>
</div>
